.Lcard {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .image {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 16px;
  
  }
  
  .details-container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    width: 90%;
    font-size: 18px;
    margin-left: 20px;
  }
  
  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
  
  .icon {
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
