/* src/index.css */
body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.MuiDrawer-paper {
  width: 240px;
}

.MuiAppBar-root {
  z-index: 1400;
}

.MuiToolbar-regular {
  display: flex;
  justify-content: space-between;
}
